.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.population {
  min-width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.country {
  min-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
