@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Augusta<br />
    Piedade, SP 33.000-000<br />
    <abbr title="Phone">P:</abbr>
    (32) 99999-9999
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@bluemodas.com.br">suporte@bluemodas.com.br</a><br />
    <strong>Contato:</strong> <a href="mailto:contato@bluemodas.com.br">contato@bluemodas.com.br</a>
</address>