@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Juiz de Fora - MG<br />
    Brasil<br />
    <abbr title="Celular">C:</abbr>
    (32) 98413-5707
</address>

<address>
    <strong>Contato:</strong> <a href="mailto:sergio.ricardojf@outlook.com">sergio.ricardojf@outlook.com</a>
</address>