@{
    ViewBag.Title = "Cadastro de Categorias e Produtos";
}

<div class="jumbotron">
    <h1>Avaliação Técnica</h1>
    <p class="lead">Teste de Conhecimentos - .Net using ASP NET MVC (C#), MySQL, HTML5, CSS3, Bootstrap.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Banco de Dados</h2>
        <p>
            Criação das entidades de Produto e Categoria
        </p>
        <h2>Back-End</h2>
        <p>
            • Criação de Web API MVC com CRUD para: <br />
            Api de Produtos <br />
            Api de Categorias <br />
            • Consumir o banco de dados criado.
        </p>
        <h2>Front-End</h2>
        <p>
            • Criação de WEB APPLICATION consumindo as WEB APIs com os respectivos CRUDS: <br />
            Produtos <br />
            Categorias <br />
            • Uso de Bootstrap com visual agradável
        </p>
    </div>
</div>